workflows/shopzada-etl.shopzada.yaml
id: shopzada-etl
namespace: shopzada

tasks:
  - id: extract_transform_load
    type: io.kestra.plugin.core.flow.WorkingDirectory
    tasks:
      - id: extract_1
        type: io.kestra.plugin.git.Clone
        url: https://github.com/FRADMGit/ShopZada
        branch: main

      - id: extract_2
        type: io.kestra.plugin.scripts.python.Script
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
        containerImage: python:3.11-slim
        script: |
          import subprocess
          subprocess.check_call([ "pip", "install", "pandas", "openpyxl", "lxml", "html5lib", "pyarrow", "fastparquet" ])
          import pandas as pd
          import os

          files = os.listdir("seeds")
          tables = {'user_job':[], 'user_data':[], 'staff_data':[], 'order_data':[], 'order_delays':[], 'product_list':[], 'merchant_data':[], 'campaign_data':[], 'user_credit_card':[], 'line_item_data_prices':[], 'line_item_data_products':[], 'order_with_merchant_data':[], 'transactional_campaign_data':[]}

          for table in tables:
            while files:
              filename = files.pop()
              for table in tables:
                if filename.startswith(table):
                  tables[table] += [filename]

          def read(file):
            file = os.path.join("seeds", file)
            if 'csv' in file:
                df = pd.read_csv(file, sep=None, engine='python')
            elif 'json' in file:
                df = pd.read_json(file)
            elif 'pickle' in file:
                df = pd.read_pickle(file)
            elif 'xlsx' in file:
                df = pd.read_excel(file)
            elif 'html' in file:
                df = pd.read_html(file)[0]
            elif 'parquet' in file:
                df = pd.read_parquet(file)
            return df

          def integrate(table):
            df = read(tables[table][0])
            if len(tables[table]) > 1:
              for i in range(1, len(tables[table])):
                df = pd.concat([df, read(tables[table][i])], ignore_index=True)
            if table == "user_credit_card":
                df['credit_card_number'] = df['credit_card_number'].apply(lambda x: f'"{x}"')
            csv_path = os.path.join(os.getcwd(), "seeds", f"clean_{table}.csv")
            df.to_csv(csv_path, index=False)

          for table in tables:
              integrate(table)

      - id: transform_1
        type: io.kestra.plugin.dbt.cli.DbtCLI
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
        containerImage: ghcr.io/kestra-io/dbt-duckdb:latest
        commands:
          - dbt deps
          - dbt build
        profiles: |
          ShopZada:
            outputs:
              dev:
                type: duckdb
                path: dbt.duckdb
                fixed_retries: 1
                threads: 16
                timeout_seconds: 300
            target: dev

      - id: transform_2
        type: io.kestra.plugin.scripts.python.Script
        outputFiles:
          - campaign_dim.csv
          - line_fact.csv
          - merchant_dim.csv
          - order_dim.csv
          - product_dim.csv
          - staff_dim.csv
          - user_dim.csv
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
        containerImage: ghcr.io/kestra-io/duckdb:latest
        script: |
          import duckdb
          import pandas as pd

          conn = duckdb.connect(database='dbt.duckdb', read_only=False)

          for table in ["campaign_dim", "line_fact", "merchant_dim", "order_dim", "product_dim", "staff_dim", "user_dim"]:
            query = f"SELECT * FROM {table}"
            df = conn.execute(query).fetchdf()
            df.to_csv(f"{table}.csv", index=False)

          conn.close()

      - id: load_tables
        type: io.kestra.plugin.jdbc.postgresql.Queries
        url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
        username: kestra
        password: k3str4
        sql: |
          DROP TABLE IF EXISTS campaign_dim CASCADE;
          CREATE TABLE campaign_dim (
              campaign_id VARCHAR(50) PRIMARY KEY,
              campaign_name VARCHAR(255),
              campaign_description TEXT,
              campaign_description_person TEXT,
              campaign_discount NUMERIC
          );

          DROP TABLE IF EXISTS line_fact CASCADE;
          CREATE TABLE line_fact (
              line_id VARCHAR(50) PRIMARY KEY,
              order_id VARCHAR(50),
              product_id VARCHAR(50),
              product_name VARCHAR(255),
              line_quantity INT,
              line_price NUMERIC
          );

          DROP TABLE IF EXISTS merchant_dim CASCADE;
          CREATE TABLE merchant_dim (
              merchant_id VARCHAR(50),
              merchant_creation_datetime TIMESTAMP,
              merchant_name VARCHAR(255),
              merchant_street VARCHAR(255),
              merchant_state VARCHAR(100),
              merchant_city VARCHAR(100),
              merchant_country VARCHAR(100),
              merchant_contact_number VARCHAR(50),
              PRIMARY KEY (merchant_id, merchant_name)
          );

          DROP TABLE IF EXISTS order_dim CASCADE;
          CREATE TABLE order_dim (
              order_id VARCHAR(50) PRIMARY KEY,
              user_id VARCHAR(50),
              user_name VARCHAR(255),
              merchant_id VARCHAR(50),
              merchant_name VARCHAR(255),
              staff_id VARCHAR(50),
              staff_name VARCHAR(255),
              campaign_id VARCHAR(50),
              order_transaction_date DATE,
              order_arrival_days INT,
              order_delay_days INT
          );

          DROP TABLE IF EXISTS product_dim CASCADE;
          CREATE TABLE product_dim (
              product_id VARCHAR(50),
              product_name VARCHAR(255),
              product_price NUMERIC,
              toys BOOLEAN,
              entertainment BOOLEAN,
              breakfast BOOLEAN,
              lunch BOOLEAN,
              dinner BOOLEAN,
              accessories BOOLEAN,
              kitchenware BOOLEAN,
              grocery BOOLEAN,
              apparel BOOLEAN,
              furniture BOOLEAN,
              health BOOLEAN,
              hygiene BOOLEAN,
              stationary BOOLEAN,
              tools BOOLEAN,
              jewelry BOOLEAN,
              technology BOOLEAN,
              electronics BOOLEAN,
              sports BOOLEAN,
              cosmetic BOOLEAN,
              music BOOLEAN,
              cleaning BOOLEAN,
              appliances BOOLEAN,
              others BOOLEAN,
              PRIMARY KEY (product_id, product_name)
          );

          DROP TABLE IF EXISTS staff_dim CASCADE;
          CREATE TABLE staff_dim (
              staff_id VARCHAR(50),
              staff_name VARCHAR(255),
              staff_job_level VARCHAR(50),
              staff_street VARCHAR(255),
              staff_state VARCHAR(100),
              staff_city VARCHAR(100),
              staff_country VARCHAR(100),
              staff_contact_number VARCHAR(50),
              staff_creation_datetime TIMESTAMP,
              PRIMARY KEY (staff_id, staff_name)
          );

          DROP TABLE IF EXISTS user_dim CASCADE;
          CREATE TABLE user_dim (
              user_id VARCHAR(50),
              user_name VARCHAR(255),
              user_creation_datetime TIMESTAMP,
              user_street VARCHAR(255),
              user_state VARCHAR(100),
              user_city VARCHAR(100),
              user_country VARCHAR(100),
              user_birth_datetime DATE,
              user_gender VARCHAR(10),
              user_device_address VARCHAR(255),
              user_type VARCHAR(50),
              credit_card_holder_name VARCHAR(255),
              credit_card_number VARCHAR(50),
              issuing_bank VARCHAR(100),
              user_job VARCHAR(100),
              user_job_level VARCHAR(50),
              PRIMARY KEY (user_id, user_name)
          );

      - id: load_line
        type: io.kestra.plugin.jdbc.postgresql.CopyIn
        url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
        username: kestra
        password: k3str4
        format: CSV
        from: "{{ outputs.transform_2.outputFiles['line_fact.csv'] }}"
        table: line_fact
        header: true
        delimiter: ","

      - id: load_order
        type: io.kestra.plugin.jdbc.postgresql.CopyIn
        url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
        username: kestra
        password: k3str4
        format: CSV
        from: "{{ outputs.transform_2.outputFiles['order_dim.csv'] }}"
        table: order_dim
        header: true
        delimiter: ","

      - id: load_product
        type: io.kestra.plugin.jdbc.postgresql.CopyIn
        url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
        username: kestra
        password: k3str4
        format: CSV
        from: "{{ outputs.transform_2.outputFiles['product_dim.csv'] }}"
        table: product_dim
        header: true
        delimiter: ","

      - id: load_staff
        type: io.kestra.plugin.jdbc.postgresql.CopyIn
        url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
        username: kestra
        password: k3str4
        format: CSV
        from: "{{ outputs.transform_2.outputFiles['staff_dim.csv'] }}"
        table: staff_dim
        header: true
        delimiter: ","

      - id: load_user
        type: io.kestra.plugin.jdbc.postgresql.CopyIn
        url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
        username: kestra
        password: k3str4
        format: CSV
        from: "{{ outputs.transform_2.outputFiles['user_dim.csv'] }}"
        table: user_dim
        header: true
        delimiter: ","

      - id: load_campaign
        type: io.kestra.plugin.jdbc.postgresql.CopyIn
        url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
        username: kestra
        password: k3str4
        format: CSV
        from: "{{ outputs.transform_2.outputFiles['campaign_dim.csv'] }}"
        table: campaign_dim
        header: true
        delimiter: ","

      - id: load_merchant
        type: io.kestra.plugin.jdbc.postgresql.CopyIn
        url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
        username: kestra
        password: k3str4
        format: CSV
        from: "{{ outputs.transform_2.outputFiles['merchant_dim.csv'] }}"
        table: merchant_dim
        header: true
        delimiter: ","
