workflows/shopzada.elt.yaml
id: elt
namespace: shopzada

tasks:
  - id: download
    type: io.kestra.plugin.core.http.Download
    uri: "https://raw.githubusercontent.com/FRADMGit/ShopZada/main/Datasets.zip"

  - id: extract
    type: io.kestra.plugin.scripts.python.Commands
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: shopzada.app:latest
      pullPolicy: NEVER
    inputFiles:
      zipfile: "{{ outputs.download.uri }}"
    outputFiles:
      - "*.csv"
    commands:
      - python /app/extract.py

  - id: tables_for_extract
    type: io.kestra.plugin.jdbc.postgresql.Queries
    url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    sql: |
      DROP TABLE IF EXISTS user_job CASCADE;
      CREATE TABLE user_job (
        "user_id" VARCHAR(250),
        user_name VARCHAR(250),
        user_job_title VARCHAR(250),
        user_job_level VARCHAR(250) 
      );

      DROP TABLE IF EXISTS user_data CASCADE;
      CREATE TABLE user_data (
        "user_id" VARCHAR(250),
        user_creation_datetime TIMESTAMP,
        user_name VARCHAR(250),
        user_street VARCHAR(250),
        user_state VARCHAR(250),
        user_city VARCHAR(250),
        user_country VARCHAR(250),
        user_birthdate TIMESTAMP,
        user_gender VARCHAR(250),
        user_device_address VARCHAR(250),
        user_type VARCHAR(250)
      );

      DROP TABLE IF EXISTS order_data CASCADE;
      CREATE TABLE order_data (
        order_id VARCHAR(250),
        "user_id" VARCHAR(250),
        order_arrival_days VARCHAR(250),
        order_transaction_date DATE
      );

      DROP TABLE IF EXISTS staff_data CASCADE;
      CREATE TABLE staff_data (
        staff_id VARCHAR(250),
        staff_name VARCHAR(250),
        staff_job_level VARCHAR(250),
        staff_street VARCHAR(250),
        staff_state VARCHAR(250),
        staff_city VARCHAR(250),
        staff_country VARCHAR(250),
        staff_contact_number VARCHAR(250),
        staff_creation_datetime TIMESTAMP
      );

      DROP TABLE IF EXISTS order_delays CASCADE;
      CREATE TABLE order_delays (
        order_id VARCHAR(250),
        order_delay_days VARCHAR(250)
      );

      DROP TABLE IF EXISTS product_list CASCADE;
      CREATE TABLE product_list (
        product_id VARCHAR(250),
        product_name VARCHAR(250),
        product_type VARCHAR(250),
        product_price NUMERIC
      );

      DROP TABLE IF EXISTS campaign_data CASCADE;
      CREATE TABLE campaign_data (
        campaign_id VARCHAR(250),
        campaign_name VARCHAR(250),
        campaign_description VARCHAR(250),
        campaign_discount VARCHAR(250)
      );

      DROP TABLE IF EXISTS merchant_data CASCADE;
      CREATE TABLE merchant_data (
        merchant_id VARCHAR(250),
        merchant_creation_datetime TIMESTAMP,
        merchant_name VARCHAR(250),
        merchant_street VARCHAR(250),
        merchant_state VARCHAR(250),
        merchant_city VARCHAR(250),
        merchant_country VARCHAR(250),
        merchant_contact_number VARCHAR(250)
      );

      DROP TABLE IF EXISTS user_credit_card CASCADE;
      CREATE TABLE user_credit_card (
        "user_id" VARCHAR(250),
        user_name VARCHAR(250),
        user_credit_card_number VARCHAR(250),
        user_issuing_bank VARCHAR(250)
      );

      DROP TABLE IF EXISTS line_item_data_prices CASCADE;
      CREATE TABLE line_item_data_prices (
        line_id INT,
        order_id VARCHAR(250),
        line_price NUMERIC,
        line_quantity VARCHAR(250)
      );

      DROP TABLE IF EXISTS line_item_data_products CASCADE;
      CREATE TABLE line_item_data_products (
        line_id INT,
        order_id VARCHAR(250),
        product_name VARCHAR(250),
        product_id VARCHAR(250)
      );

      DROP TABLE IF EXISTS order_with_merchant_data CASCADE;
      CREATE TABLE order_with_merchant_data (
        order_id VARCHAR(250),
        merchant_id VARCHAR(250),
        staff_id VARCHAR(250)
      );

      DROP TABLE IF EXISTS transactional_campaign_data CASCADE;
      CREATE TABLE transactional_campaign_data (
        transaction_date DATE,
        campaign_id VARCHAR(250),
        order_id VARCHAR(250),
        "estimated arrival" VARCHAR(250),
        availed NUMERIC
      )

  - id: load_user_job
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['user_job.csv'] }}"
    table: user_job
    header: true
    delimiter: ","

  - id: load_user_data
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['user_data.csv'] }}"
    table: user_data
    header: true
    delimiter: ","

  - id: load_order_data
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['order_data.csv'] }}"
    table: order_data
    header: true
    delimiter: ","

  - id: load_staff_data
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['staff_data.csv'] }}"
    table: staff_data
    header: true
    delimiter: ","

  - id: load_order_delays
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['order_delays.csv'] }}"
    table: order_delays
    header: true
    delimiter: ","

  - id: load_product_list
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['product_list.csv'] }}"
    table: product_list
    header: true
    delimiter: ","

  - id: load_campaign_data
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['campaign_data.csv'] }}"
    table: campaign_data
    header: true
    delimiter: ","

  - id: load_merchant_data
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['merchant_data.csv'] }}"
    table: merchant_data
    header: true
    delimiter: ","

  - id: load_user_credit_card
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['user_credit_card.csv'] }}"
    table: user_credit_card
    header: true
    delimiter: ","

  - id: load_line_item_data_prices
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['line_item_data_prices.csv'] }}"
    table: line_item_data_prices
    header: true
    delimiter: ","

  - id: load_line_item_data_products
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['line_item_data_products.csv'] }}"
    table: line_item_data_products
    header: true
    delimiter: ","

  - id: load_order_with_merchant_data
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['order_with_merchant_data.csv'] }}"
    table: order_with_merchant_data
    header: true
    delimiter: ","

  - id: load_transactional_campaign_data
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['transactional_campaign_data.csv'] }}"
    table: transactional_campaign_data
    header: true
    delimiter: ","

  - id: clean_dims
    type: io.kestra.plugin.jdbc.postgresql.Queries
    url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    sql: |
      -- clean_product
        DROP TABLE IF EXISTS clean_product CASCADE;
        CREATE TABLE clean_product AS
        WITH products AS (
          SELECT DISTINCT
            product_id,
            product_name,
            product_price,
            (POSITION('toys' IN product_type) > 0) AS toys,
            (POSITION('entertainment' IN product_type) > 0) AS entertainment,
            (POSITION('breakfast' IN product_type) > 0) AS breakfast,
            (POSITION('lunch' IN product_type) > 0) AS lunch,
            (POSITION('dinner' IN product_type) > 0) AS dinner,
            (POSITION('accessories' IN product_type) > 0) AS accessories,
            (POSITION('kitchenware' IN product_type) > 0) AS kitchenware,
            (POSITION('grocery' IN product_type) > 0) AS grocery,
            (POSITION('apparel' IN product_type) > 0) AS apparel,
            (POSITION('furniture' IN product_type) > 0) AS furniture,
            (POSITION('health' IN product_type) > 0) AS health,
            (POSITION('hygiene' IN product_type) > 0) AS hygiene,
            (POSITION('stationary' IN product_type) > 0) AS stationary,
            (POSITION('tools' IN product_type) > 0) AS tools,
            (POSITION('jewelry' IN product_type) > 0) AS jewelry,
            (POSITION('technology' IN product_type) > 0) AS technology,
            (POSITION('electronics' IN product_type) > 0) AS electronics,
            (POSITION('sports' IN product_type) > 0) AS sports,
            (POSITION('cosmetic' IN product_type) > 0) AS cosmetic,
            (POSITION('music' IN product_type) > 0) AS music,
            (POSITION('cleaning' IN product_type) > 0) AS cleaning,
            (POSITION('appliances' IN product_type) > 0) AS appliances
          FROM product_list
          WHERE product_id IS NOT NULL
        ORDER BY product_id
        )
        SELECT
          'PRODUCT' || LPAD(CAST((ROW_NUMBER() OVER()) AS TEXT), 5, '0') AS product_pk,
          *,
        NOT (
            toys OR entertainment OR breakfast OR lunch OR dinner OR accessories OR 
            kitchenware OR grocery OR apparel OR furniture OR health OR hygiene OR 
            stationary OR tools OR jewelry OR technology OR electronics OR sports OR 
            cosmetic OR music OR cleaning OR appliances
          ) AS others
        FROM products;

      -- clean_campaign
        DROP TABLE IF EXISTS clean_campaign CASCADE;
        CREATE TABLE clean_campaign AS
        SELECT DISTINCT
          campaign_id,
          campaign_name,
          regexp_replace(campaign_description, '\s*-\s*.*$', '') AS campaign_description,
          regexp_replace(campaign_description, '^.*-\s*', '') AS campaign_description_person,
          (regexp_replace(campaign_discount, '[^0-9\.]', '', 'g')::FLOAT / 100) AS campaign_discount
        FROM campaign_data
        WHERE campaign_id IS NOT NULL
        ORDER BY campaign_id;

      -- clean_merchant
        DROP TABLE IF EXISTS clean_merchant CASCADE;
        CREATE TABLE clean_merchant AS
        WITH merchants AS (
          SELECT
            merchant_id,
            merchant_name,
            merchant_street,
            merchant_state,
            merchant_city,
            merchant_country,
            REGEXP_REPLACE(merchant_contact_number, '[^0-9]', '', 'g') AS merchant_contact_number,
            merchant_creation_datetime
          FROM merchant_data
          WHERE merchant_id IS NOT NULL
          ORDER BY merchant_creation_datetime
        )
        SELECT 'MERCHANT' || LPAD(CAST((ROW_NUMBER() OVER()) AS TEXT), 5, '0') AS merchant_pk, *
        FROM merchants;

      -- clean_staff
        DROP TABLE IF EXISTS clean_staff CASCADE;
        CREATE TABLE clean_staff AS
        SELECT 'STAFF' || LPAD(CAST((ROW_NUMBER() OVER()) AS TEXT), 5, '0') AS staff_pk, *
        FROM (SELECT DISTINCT * FROM staff_data WHERE staff_id IS NOT NULL ORDER BY staff_creation_datetime);

      -- clean_user
        DROP TABLE IF EXISTS clean_user CASCADE;
        CREATE TABLE clean_user AS
        WITH users AS (
          SELECT DISTINCT
            a.user_id,
            a.user_name,
            user_creation_datetime,
            user_street,
            user_state,
            user_city,
            user_country,
            user_birthdate,
            user_gender,
            user_device_address,
            user_type,
            user_job_title,
            user_job_level,
            user_credit_card_number,
            user_issuing_bank
          FROM user_data a JOIN user_job b USING(user_id, user_name) JOIN user_credit_card c USING(user_id, user_name)
          ORDER BY user_creation_datetime
        )
        SELECT 'USER' || LPAD(CAST((ROW_NUMBER() OVER()) AS TEXT), 5, '0') AS user_pk, * FROM users
        where user_id IS NOT NULL

  - id: clean_facts
    type: io.kestra.plugin.jdbc.postgresql.Queries
    url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    sql: |
      -- clean_order
          DROP TABLE IF EXISTS clean_order CASCADE;
          CREATE TABLE clean_order AS
          WITH denormalized AS (
              SELECT
                  od.order_id,
                  od.user_id,
                  od.order_transaction_date,
                  od.order_arrival_days,
                  odl.order_delay_days,
                  msm.merchant_id,
                  msm.staff_id,
                  tcd.campaign_id,
                  tcd.availed,
                  cu.user_pk,
                  cu.user_creation_datetime,
                  cm.merchant_pk,
                  cm.merchant_creation_datetime,
                  cs.staff_pk,
                  cs.staff_creation_datetime
              FROM order_data od
              
              -- FIX 1: Change these to LEFT JOIN. 
              -- If an order has no delay record or merchant map, we keep the order and fill NULLs.
              LEFT JOIN order_delays odl USING(order_id)
              LEFT JOIN (SELECT DISTINCT order_id, merchant_id, staff_id FROM order_with_merchant_data) msm USING(order_id)
              LEFT JOIN (SELECT order_id, campaign_id, availed FROM transactional_campaign_data) tcd USING(order_id)

              -- FIX 2: User Join
              -- We join ON the ID *AND* the specific condition that it is the most recent valid record.
              LEFT JOIN clean_user cu 
                  ON od.user_id = cu.user_id
                  AND cu.user_creation_datetime = (
                      SELECT MAX(cu2.user_creation_datetime)
                      FROM clean_user cu2
                      WHERE cu2.user_id = od.user_id
                      AND cu2.user_creation_datetime <= od.order_transaction_date 
                  )

              -- FIX 3: Merchant Join
              LEFT JOIN clean_merchant cm 
                  ON msm.merchant_id = cm.merchant_id
                  AND cm.merchant_creation_datetime = (
                      SELECT MAX(cm2.merchant_creation_datetime)
                      FROM clean_merchant cm2
                      WHERE cm2.merchant_id = msm.merchant_id
                      AND cm2.merchant_creation_datetime <= od.order_transaction_date
                  )

              -- FIX 4: Staff Join
              LEFT JOIN clean_staff cs 
                  ON msm.staff_id = cs.staff_id
                  AND cs.staff_creation_datetime = (
                      SELECT MAX(cs2.staff_creation_datetime)
                      FROM clean_staff cs2
                      WHERE cs2.staff_id = msm.staff_id
                      AND cs2.staff_creation_datetime <= od.order_transaction_date
                  )
          )
          SELECT
              order_id,
              user_pk,
              merchant_pk,
              staff_pk,
          CASE WHEN availed = 1 THEN campaign_id ELSE NULL END AS campaign_pk,
              order_transaction_date,
              REGEXP_REPLACE(order_arrival_days, '[^0-9\.]', '', 'g')::INT AS order_arrival_days,
              REGEXP_REPLACE(order_delay_days, '[^0-9\.]', '', 'g')::INT AS order_delay_days
          FROM denormalized;

      -- clean_line
          DROP TABLE IF EXISTS clean_line CASCADE;
          CREATE TABLE clean_line AS
              SELECT
                  line_id,
                  order_id,
                  product_pk,
                  line_price,
                  REGEXP_REPLACE(line_quantity, '[^0-9\.]', '', 'g')::INT AS line_quantity
              FROM line_item_data_prices
              FULL JOIN line_item_data_products USING(line_id, order_id)
              JOIN clean_product USING(product_id, product_name)

  - id: schema_dims
    type: io.kestra.plugin.jdbc.postgresql.Queries
    url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    sql: |
      -- product_dim
        CREATE TABLE IF NOT EXISTS product_dim (
            product_pk VARCHAR(250) PRIMARY KEY,
            product_name VARCHAR(250) NOT NULL,
            product_price NUMERIC NOT NULL,
            toys BOOLEAN DEFAULT FALSE,
            entertainment BOOLEAN DEFAULT FALSE,
            breakfast BOOLEAN DEFAULT FALSE,
            lunch BOOLEAN DEFAULT FALSE,
            dinner BOOLEAN DEFAULT FALSE,
            accessories BOOLEAN DEFAULT FALSE,
            kitchenware BOOLEAN DEFAULT FALSE,
            grocery BOOLEAN DEFAULT FALSE,
            apparel BOOLEAN DEFAULT FALSE,
            furniture BOOLEAN DEFAULT FALSE,
            health BOOLEAN DEFAULT FALSE,
            hygiene BOOLEAN DEFAULT FALSE,
            stationary BOOLEAN DEFAULT FALSE,
            tools BOOLEAN DEFAULT FALSE,
            jewelry BOOLEAN DEFAULT FALSE,
            technology BOOLEAN DEFAULT FALSE,
            electronics BOOLEAN DEFAULT FALSE,
            sports BOOLEAN DEFAULT FALSE,
            cosmetic BOOLEAN DEFAULT FALSE,
            music BOOLEAN DEFAULT FALSE,
            cleaning BOOLEAN DEFAULT FALSE,
            appliances BOOLEAN DEFAULT FALSE,
            others BOOLEAN DEFAULT FALSE
        );
        INSERT INTO product_dim (
            product_pk,
            product_name,
            product_price,
            toys,
            entertainment,
            breakfast,
            lunch,
            dinner,
            accessories,
            kitchenware,
            grocery,
            apparel,
            furniture,
            health,
            hygiene,
            stationary,
            tools,
            jewelry,
            technology,
            electronics,
            sports,
            cosmetic,
            music,
            cleaning,
            appliances,
            others
        )
        SELECT DISTINCT
            cp.product_pk,
            cp.product_name,
            cp.product_price,
            cp.toys,
            cp.entertainment,
            cp.breakfast,
            cp.lunch,
            cp.dinner,
            cp.accessories,
            cp.kitchenware,
            cp.grocery,
            cp.apparel,
            cp.furniture,
            cp.health,
            cp.hygiene,
            cp.stationary,
            cp.tools,
            cp.jewelry,
            cp.technology,
            cp.electronics,
            cp.sports,
            cp.cosmetic,
            cp.music,
            cp.cleaning,
            cp.appliances,
            cp.others
        FROM
            clean_product cp
        WHERE
            cp.product_pk IS NOT NULL
            AND NOT EXISTS (
                SELECT 1
                FROM product_dim pd
                WHERE pd.product_pk = cp.product_pk
            );
      -- user_dim
          CREATE TABLE IF NOT EXISTS user_dim (
              user_pk TEXT PRIMARY KEY,
              user_name VARCHAR(250),
              user_creation_datetime TIMESTAMP,
              user_street VARCHAR(250),
              user_state VARCHAR(250),
              user_city VARCHAR(250),
              user_country VARCHAR(250),
              user_birthdate TIMESTAMP,
              user_gender VARCHAR(250),
              user_device_address VARCHAR(250),
              user_type VARCHAR(250),
              user_job_title VARCHAR(250),
              user_job_level VARCHAR(250),
              user_credit_card_number VARCHAR(250),
              user_issuing_bank VARCHAR(250)
          );
          INSERT INTO user_dim (
              user_pk,
              user_name,
              user_creation_datetime,
              user_street,
              user_state,
              user_city,
              user_country,
              user_birthdate,
              user_gender,
              user_device_address,
              user_type,
              user_job_title,
              user_job_level,
              user_credit_card_number,
              user_issuing_bank
          )
          SELECT DISTINCT
              cu.user_pk,
              cu.user_name,
              cu.user_creation_datetime,
              cu.user_street,
              cu.user_state,
              cu.user_city,
              cu.user_country,
              cu.user_birthdate,
              cu.user_gender,
              cu.user_device_address,
              cu.user_type,
              cu.user_job_title,
              cu.user_job_level,
              cu.user_credit_card_number,
              cu.user_issuing_bank
          FROM
              clean_user cu
          WHERE
              cu.user_pk IS NOT NULL
              AND NOT EXISTS (
                  SELECT 1
                  FROM user_dim ud
                  WHERE ud.user_pk = cu.user_pk
              );
      -- merchant_dim
          CREATE TABLE IF NOT EXISTS merchant_dim (
                  merchant_pk TEXT PRIMARY KEY,
                  merchant_name VARCHAR(250) NOT NULL,
                  merchant_street VARCHAR(250),
                  merchant_state VARCHAR(250),
                  merchant_city VARCHAR(250),
                  merchant_country VARCHAR(250),
                  merchant_contact_number VARCHAR(250),
                  merchant_creation_datetime TIMESTAMP
              );
              INSERT INTO merchant_dim (
                  merchant_pk,
                  merchant_name,
                  merchant_street,
                  merchant_state,
                  merchant_city,
                  merchant_country,
                  merchant_contact_number,
                  merchant_creation_datetime
              )
              SELECT DISTINCT
                  cm.merchant_pk,
                  cm.merchant_name,
                  cm.merchant_street,
                  cm.merchant_state,
                  cm.merchant_city,
                  cm.merchant_country,
                  cm.merchant_contact_number,
                  cm.merchant_creation_datetime
              FROM
                  clean_merchant cm
              WHERE
                  cm.merchant_pk IS NOT NULL
                  AND NOT EXISTS (
                      SELECT 1
                      FROM merchant_dim md
                      WHERE md.merchant_pk = cm.merchant_pk
                  );
      -- staff_dim
          CREATE TABLE IF NOT EXISTS staff_dim (
              staff_pk TEXT PRIMARY KEY,
              staff_name VARCHAR(250) NOT NULL,
              staff_job_level VARCHAR(250),
              staff_street VARCHAR(250),
              staff_state VARCHAR(250),
              staff_city VARCHAR(250),
              staff_country VARCHAR(250),
              staff_contact_number VARCHAR(250),
              staff_creation_datetime TIMESTAMP
          );
          INSERT INTO staff_dim (
          staff_pk,
          staff_name,
          staff_job_level,
          staff_street,
          staff_state,
          staff_city,
          staff_country,
          staff_contact_number,
          staff_creation_datetime
          )
          SELECT DISTINCT
              cs.staff_pk,
              cs.staff_name,
              cs.staff_job_level,
              cs.staff_street,
              cs.staff_state,
              cs.staff_city,
              cs.staff_country,
              cs.staff_contact_number,
              cs.staff_creation_datetime
          FROM
              clean_staff cs
          WHERE
              cs.staff_pk IS NOT NULL
              AND NOT EXISTS (
                  SELECT 1
                  FROM staff_dim sd
                  WHERE sd.staff_pk = cs.staff_pk
              );
      -- campaign_dim
          CREATE TABLE IF NOT EXISTS campaign_dim (
              campaign_pk VARCHAR(250) PRIMARY KEY,
              campaign_name VARCHAR(250) NOT NULL,
              campaign_description TEXT,
              campaign_description_person TEXT,
              campaign_discount DOUBLE PRECISION
          );
          INSERT INTO campaign_dim (
              campaign_pk,
              campaign_name,
              campaign_description,
              campaign_description_person,
              campaign_discount
          )
          SELECT DISTINCT
              cc.campaign_id,
              cc.campaign_name,
              cc.campaign_description,
              cc.campaign_description_person,
              cc.campaign_discount
          FROM
              clean_campaign cc
          WHERE
              cc.campaign_id IS NOT NULL
              AND NOT EXISTS (
                  SELECT 1
                  FROM campaign_dim cd
                  WHERE cd.campaign_pk = cc.campaign_id
              )

  - id: schema_facts
    type: io.kestra.plugin.jdbc.postgresql.Queries
    url: jdbc:postgresql://shopzada-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    sql: |
      -- order_dim
          CREATE TABLE IF NOT EXISTS order_dim (
              order_pk VARCHAR(250) PRIMARY KEY,
              user_pk TEXT,
              merchant_pk TEXT,
              staff_pk TEXT,
              campaign_pk VARCHAR(250),
              order_transaction_date DATE,
              order_arrival_days INTEGER,
              order_delay_days INTEGER
          );
          INSERT INTO order_dim (
              order_pk,
              user_pk,
              merchant_pk,
              staff_pk,
              campaign_pk,
              order_transaction_date,
              order_arrival_days,
              order_delay_days
          )
          SELECT
              co.order_id,
              co.user_pk,
              co.merchant_pk,
              co.staff_pk,
              co.campaign_pk,
              co.order_transaction_date,
              co.order_arrival_days,
              co.order_delay_days
          FROM
              clean_order co
              
          -- User Key Validation
          INNER JOIN user_dim ud ON co.user_pk = ud.user_pk

          -- Merchant Key Validation
          INNER JOIN merchant_dim md ON co.merchant_pk = md.merchant_pk

          -- Staff Key Validation
          INNER JOIN staff_dim sd ON co.staff_pk = sd.staff_pk

          -- Campaign Key Validation
          LEFT JOIN campaign_dim cd ON co.campaign_pk = cd.campaign_pk

          WHERE
              -- Primary Key Uniqueness Check
              NOT EXISTS (
                  SELECT 1
                  FROM order_dim od
                  WHERE od.order_pk = co.order_id
              )
              
              -- Ensure mandatory keys are present in their dimension table
              AND ud.user_pk IS NOT NULL
              AND md.merchant_pk IS NOT NULL
              AND sd.staff_pk IS NOT NULL
              AND (co.campaign_pk IS NULL OR cd.campaign_pk IS NOT NULL);
      -- line_fact
          CREATE TABLE IF NOT EXISTS line_fact (
              line_pk INTEGER PRIMARY KEY,
              order_pk VARCHAR(250) NOT NULL,
              product_pk TEXT,
              line_price NUMERIC,
              line_quantity INTEGER
          );
          INSERT INTO line_fact (
              line_pk,
              order_pk,
              product_pk,
              line_price,
              line_quantity
          )
          SELECT
              lid.line_id,
              lid.order_id,
              lid.product_pk,
              lid.line_price,
              lid.line_quantity
          FROM
              clean_line lid
              
          -- Validate Product Key
          INNER JOIN product_dim pd ON lid.product_pk = pd.product_pk
          -- Validate Order Key
          INNER JOIN order_dim od ON lid.order_id = od.order_pk
              
          -- Uniqueness Check
          WHERE NOT EXISTS (
              SELECT 1
              FROM line_fact lf
              WHERE lf.line_pk = lid.line_id
          )
