flows/main_shopzada_elt.yml
id: elt
namespace: shopzada

inputs:
  - id: download_uri
    type: STRING
    defaults: "https://raw.githubusercontent.com/FRADMGit/ShopZada/main/Datasets.zip"

tasks:
  - id: download_dataset
    type: io.kestra.plugin.core.http.Download
    uri: "{{ inputs.download_uri }}"

  - id: download_scripts
    type: io.kestra.plugin.git.SyncNamespaceFiles
    username: FRADMGit
    url: https://github.com/FRADMGit/dwh_finalproject_3DSA_group_6
    branch: main
    namespace: shopzada
    gitDirectory: scripts

  - id: extract
    type: io.kestra.plugin.scripts.python.Commands
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: shopzada.app:latest
      pullPolicy: NEVER
    namespaceFiles:
      enabled: True
    inputFiles:
      zipfile: "{{ outputs.download_dataset.uri }}"
    outputFiles:
      - "*.csv"
    commands:
      - python extract.py

  - id: loading_tables
    type: io.kestra.plugin.jdbc.postgresql.Queries
    url: jdbc:postgresql://dwh_finalproject_3dsa_group_6-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    sql: "{{ read('loading_tables.sql') }}"

  - id: load_user_job
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://dwh_finalproject_3dsa_group_6-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['user_job.csv'] }}"
    table: user_job
    header: true
    delimiter: ","

  - id: load_user_data
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://dwh_finalproject_3dsa_group_6-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['user_data.csv'] }}"
    table: user_data
    header: true
    delimiter: ","

  - id: load_order_data
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://dwh_finalproject_3dsa_group_6-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['order_data.csv'] }}"
    table: order_data
    header: true
    delimiter: ","

  - id: load_staff_data
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://dwh_finalproject_3dsa_group_6-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['staff_data.csv'] }}"
    table: staff_data
    header: true
    delimiter: ","

  - id: load_order_delays
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://dwh_finalproject_3dsa_group_6-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['order_delays.csv'] }}"
    table: order_delays
    header: true
    delimiter: ","

  - id: load_product_list
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://dwh_finalproject_3dsa_group_6-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['product_list.csv'] }}"
    table: product_list
    header: true
    delimiter: ","

  - id: load_campaign_data
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://dwh_finalproject_3dsa_group_6-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['campaign_data.csv'] }}"
    table: campaign_data
    header: true
    delimiter: ","

  - id: load_merchant_data
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://dwh_finalproject_3dsa_group_6-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['merchant_data.csv'] }}"
    table: merchant_data
    header: true
    delimiter: ","

  - id: load_user_credit_card
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://dwh_finalproject_3dsa_group_6-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['user_credit_card.csv'] }}"
    table: user_credit_card
    header: true
    delimiter: ","

  - id: load_line_item_data_prices
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://dwh_finalproject_3dsa_group_6-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['line_item_data_prices.csv'] }}"
    table: line_item_data_prices
    header: true
    delimiter: ","

  - id: load_line_item_data_products
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://dwh_finalproject_3dsa_group_6-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['line_item_data_products.csv'] }}"
    table: line_item_data_products
    header: true
    delimiter: ","

  - id: load_order_with_merchant_data
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://dwh_finalproject_3dsa_group_6-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['order_with_merchant_data.csv'] }}"
    table: order_with_merchant_data
    header: true
    delimiter: ","

  - id: load_transactional_campaign_data
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: jdbc:postgresql://dwh_finalproject_3dsa_group_6-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    format: CSV
    from: "{{ outputs.extract.outputFiles['transactional_campaign_data.csv'] }}"
    table: transactional_campaign_data
    header: true
    delimiter: ","

  - id: clean_dims
    type: io.kestra.plugin.jdbc.postgresql.Queries
    url: jdbc:postgresql://dwh_finalproject_3dsa_group_6-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    sql: "{{ read('clean_dims.sql') }}"

  - id: clean_facts
    type: io.kestra.plugin.jdbc.postgresql.Queries
    url: jdbc:postgresql://dwh_finalproject_3dsa_group_6-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    sql: "{{ read('clean_facts.sql') }}"

  - id: schema_dims
    type: io.kestra.plugin.jdbc.postgresql.Queries
    url: jdbc:postgresql://dwh_finalproject_3dsa_group_6-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    sql: "{{ read('schema_dims.sql') }}"

  - id: schema_facts
    type: io.kestra.plugin.jdbc.postgresql.Queries
    url: jdbc:postgresql://dwh_finalproject_3dsa_group_6-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    sql: "{{ read('schema_facts.sql') }}"

  - id: create_views
    type: io.kestra.plugin.jdbc.postgresql.Queries
    url: jdbc:postgresql://dwh_finalproject_3dsa_group_6-postgres-1:5432/kestra
    username: kestra
    password: k3str4
    sql: "{{ read('view.sql') }}"
